@model Joobie.Models.JobModels.Job

@{
    ViewData["Title"] = "Delete";
}


<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <h2 class="text-info">Usuń Ofertę</h2>
        <br />
        <fieldset disabled>
            <div class="col-7">
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col-5">
                    @Html.Raw(Model.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Localization" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Localization" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="AddedDate" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="AddedDate" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ExpirationDate" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ExpirationDate" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Salary" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Salary" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Category" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Category.Name" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="TypeOfContract" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="TypeOfContract.Name" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="WorkingHours" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="WorkingHours.Name" class="form-control " />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="ApplicationUser" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="ApplicationUser.Name" class="form-control " />
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-danger form-control" asp-route-id="@Model.Id" value="Usuń" />
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-success form-control">Wróć do listy</a>
                    </div>
                </div>
            </div>
        </div>
</form>