@model Joobie.Models.JobModels.Job

@{
    ViewData["Title"] = "Edit";
}
    <link href="~/lib/Trumbowyg/ui/trumbowyg.min.css" rel="stylesheet" />
<h1>Edit</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit col-10">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" />*@
                <textarea id="editor" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localization" class="control-label"></label>
                <input asp-for="Localization" class="form-control" />
                <span asp-validation-for="Localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfContractId" class="control-label"></label>
                <select asp-for="TypeOfContractId" class="form-control" asp-items="ViewBag.TypesOfContracts"></select>
                <span asp-validation-for="TypeOfContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHoursId" class="control-label"></label>
                <select asp-for="WorkingHoursId" class="form-control" asp-items="ViewBag.WorkingHours"></select>
                <span asp-validation-for="WorkingHoursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.Employees"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section editor_scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg/trumbowyg.min.js"></script>
    <script>$('#editor').trumbowyg();</script>
}