@model Joobie.Models.JobModels.JobFormViewModel

 
<h1>View</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Job.Id" />
            <div class="form-group">
                <label asp-for="Job.Name" class="control-label"></label>
                <input asp-for="Job.Name" class="form-control" />
                <span asp-validation-for="Job.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Description" class="control-label"></label>
                <input asp-for="Job.Description" class="form-control" />
                <span asp-validation-for="Job.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Localization" class="control-label"></label>
                <input asp-for="Job.Localization" class="form-control" />
                <span asp-validation-for="Job.Localization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.AddedDate" class="control-label"></label>
                <input asp-for="Job.AddedDate" class="form-control" />
                <span asp-validation-for="Job.AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.ExpirationDate" class="control-label"></label>
                <input asp-for="Job.ExpirationDate" class="form-control" />
                <span asp-validation-for="Job.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Salary" class="control-label"></label>
                <input asp-for="Job.Salary" class="form-control" />
                <span asp-validation-for="Job.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Category" class="control-label"></label>
                <select asp-for="Job.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                <span asp-validation-for="Job.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.TypeOfContractId" class="control-label"></label>
                <select asp-for="Job.TypeOfContractId" class="form-control" asp-items="@(new SelectList(Model.TypesOfContract,"Id","Name"))"></select>
                <span asp-validation-for="Job.TypeOfContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.WorkingHoursId" class="control-label"></label>
                <select asp-for="Job.WorkingHoursId" class="form-control" asp-items="@(new SelectList(Model.WorkingHours,"Id","Name"))"></select>
                <span asp-validation-for="Job.WorkingHoursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Job.Company.Name" class="control-label"></label>
                <input asp-for="Job.Company.Name" class="form-control" />
                <span asp-validation-for="Job.Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Powrot</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
