@model IEnumerable<Joobie.Models.JobModels.Job>

@{
    ViewData["Title"] = "ReadOnlyList";
}

<h1>JobsReadOnlyList</h1>


<partial name="~/Views/Jobs/Search.cshtml" />
</br>
<div class="container">
        <div class="row">
            @foreach (var job in Model)
            {
                <div  class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@job.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@job.ApplicationUser.Name</h6>
                            <p class="card-text">@job.Localization</p>
                        </div>
                    </div>
                </div>
            }
        </div>
</div>