
@{
    ViewData["Title"] = "SearchForm";
}

    <form asp-action="List" method="get">
        <div class="form-row">
            <div class="col">
                <input class="form-control" placeholder="Nazwa stanowiska" type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            </div>
            <div class="col">
                <input class="form-control" placeholder="Nazwa miasta" type="text" name="citySearchString" value="@ViewData["CurrentCityFilter"]" />
            </div>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="List" class="btn-success">Back to Full List</a>
        </div>
</form>