<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Joobie</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <link href="~/lib/Trumbowyg/ui/trumbowyg.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <a class="navbar-brand col-3" asp-area="" asp-controller="Jobs" asp-action="Index">Joobie</a>
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                </div>

            </div>
            <button class="btn btn-primary col-1" id="menu-toggle">Menu</button>
            <div class="col-2"></div>
        </nav>
    </header>
    <div class="d-flex" id="wrapper">
        <div class="col-10">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <div class="col-2" id="sidebar-wrapper">
            <div class="list-group list-group-flush class-space-right">
                <div class="sidebar-heading text-center">Panel Moderatora </div>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="Jobs" asp-action="Index">Oferty</a>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="TypeOfContracts" asp-action="Index">Rodzaje umów</a>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="Categories" asp-action="Index">Rodzaje etatów</a>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="Administration" asp-action="ListRoles">Role</a>
                <a class="btn btn-primary btn-space" asp-area="" asp-controller="User" asp-action="Index">Użytkownicy</a>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Joobie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("editor_scripts", required: false)
</body>
</html>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>