@model Joobie.Models.JobModels.CVJobApplicationUser


@{
    ViewData["Title"] = "Details";
}

    <div class="border backgroundWhite">
        <fieldset disabled>
            <div class="col-7">
                <h2 class="text-info">Szczegóły</h2>
                <br />
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.ApplicationUser.Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.ApplicationUser.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.Description" class="control-label"></label>
                </div>
                <div class="col-5">
                    @Html.Raw(Model.Job.Description)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.Localization" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.Localization" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.AddedDate" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.AddedDate" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.ExpirationDate" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.ExpirationDate" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.Salary" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.Salary" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.Category.Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.Category.Name" class="form-control" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.TypeOfContract.Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.TypeOfContract.Name" class="form-control" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Job.WorkingHours.Name" class="control-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Job.WorkingHours.Name" class="form-control" />
                </div>
            </div>
            <a asp-action="Apply" asp-route-id="@Model.Job.Id">Aplikuj</a>

            <a asp-action="Index">Back to List</a>
        </fieldset>

    </div>