

@{
    ViewData["Title"] = "Index";
}
<div>
    
        ____━*━____━━____━__*___━_*__­__┓­­­━╭━━━━━━━━╮
        <br />___*_━━____━━____━━*____━━___­┗┓­­­|::::::::::^━━^
        <br />____━━____━*━____━━____━━*___­━┗­­­|:::: ｡◕‿‿­­­­◕｡|
        <br />____*━___━━_*___━━____*━━____*­━­­­╰O-O----O-O
        <br />
</div>