@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<text>
    obowiązuje od 13 kwietnia 2020 r
    Zespół Joobie.pl dba aby chronic twoją prywatność.
    Polityka Prywatności określa w jaki sposób dbamy o Twoje dane osobowe i Twoje prawa.
    
    <h4>
        Założenie Konta oraz uwierzytelnianie Użytkownika w Serwisach
    </h4>

    Podczas zakładania konta w formularzu rejestracyjnym wymagane jest podanie maila i hasła 
    (dla firm wymagena jest jeszcze nazwa firmy i numer nip). 
    Są to dane niezbędne do korzystania z serwisu.
   
    <h3>Dane osobowe podczas aplikacji na oferty</h3>

    Kiedy aplikujesz na ofery nie przetwarzamy twoich danych osobowych zawartych w cv

</text>